<td>{{ title }}</td>
<td><input type="number" value="{{ count }}" class="count input-mini"></td>
<td>{{ count }} x {{ price }} грн</td>
<td>{{ total }} грн</td>
<td class="span1"><i class="icon-edit"></i><i class='icon-remove-circle' ></i></td>
